* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 68.5%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  background-color: #c47419;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 60rem;
  min-height: 70vh;
  margin: auto;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.6rem;
}

input {
  margin-bottom: 10px;
  width: 34rem;
  height: 4rem;
  font-size: 2rem;
  padding-left: 1rem;
}

button {
  width: 17rem;
  height: 5rem;
  margin-bottom: 10px;
  border: 0.03rem solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #7a3507;
  color: white;
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: #96450f;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: white;
  font-size: 1.7rem;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.5rem;
  color: #f0f0f0;
}

.summary h2 {
  display: flex;
  align-self: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
}

.para {
    display: flex;
    font-size: 1.5rem;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.para p {
    margin-top: 1.5rem;
    max-width: 80%;
}
